body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Main Section */
.container {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.box {
    background-color: rgb(201, 109, 109);
    width: 33%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(120, 80, 80, 0.1);
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}
